@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: #009D4F;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #e7e7e7;
    text-align: center;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

section {
    min-height: 100vh;
    background-color: #e7e7e7;
    width: 100%;
}

.background-img {
    width: 100%;
    height: 100%;
    background-image: url(/img/Hamar_katedralskoleCover.jpg) !important;
    background-size: cover;
    opacity: 0.8;
    position: absolute;
}

#triangle {
    background-image: url(/img/Hamar_katedralskoleCover.jpg) !important;
    background-size: cover;
    min-width: 75vw;
    min-height: 100vh;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    opacity: 0.8;
}

#line {
    clip-path: polygon(99.5% 0, 100% 0, 100% 0.4%, 0.4% 100%,0 100%, 0 99.5%);
    background-color: #ffb600;
    min-width: 75vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.parent {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.Header {
    position: absolute;
    top: 700px;
    left: 40vw;
    text-align: center;
}

.Header h2 {
    font-size: 50px;
    border-bottom: solid 5px #ffb600;
}

.img-fill-green {
    fill: var(--green);
}

#scroll-down {
    background-color: var(--green);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 20px;
    box-shadow: -3px 3px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 3px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 15px 0px rgba(0,0,0,0.75);
}

.info-Header {
    padding-top: 300px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    border-bottom: solid 5px #ffb600;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 50px;
}

.info-p {
    margin: 0 30%;
    font-weight: 300;
    font-size: 25px;
}

.cntainer {
    padding-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
}

.line-bottom {
    border-bottom: solid 5px #ffb600;
    margin-bottom: 30px;
}

.table-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.table-grid p {
    margin-top: auto !important;
    margin-bottom: 0;
    padding: 8px 0;
}

.mobile-table-grid p {
    margin-top: auto !important;
    margin-bottom: 0;
    padding: 8px 0;
}

.activity-card {
    margin: 15px 0;
    background-color: #f3f2f1;
    width: 100%;
    padding: 25px 10px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
}

.activity-card a {
    text-decoration: none;
    color: #000;
}

.dont-center {
    text-align: start;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.padding-bottom-M {
    margin-bottom: 150px;
}

.boardActive {
    background-color: #FBDD92;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pointer {
    cursor: pointer;
}

.p-l-40 {
    padding-left: 30px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-l-60 {
    padding-left: 60px;
}

.no-break {
    white-space: nowrap;
}

#mobile-header-img {
    background-image: url(/img/Hamar_katedralskoleCover.jpg) !important;
    background-size: cover;
    min-width: 100%;
    height: 50vh;
    opacity: 0.8;
    border-bottom: 7px #ffb600 solid;
}

.mobile-header {
    font-size: 20px;
}

.parent-mobile {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
}

.parent-mobile h2 {
    padding-bottom: 5px;
    border-bottom: 3px solid #ffb600;
}

.center-grid{
    display: grid;
}

.info-Header-mobile {
    padding-top: 20%;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30%;
    border-bottom: solid 3px #ffb600;
    font-size: 16px;
}

.info-p-mobile {
    padding: 0 10%;
    font-size: 12px;
    font-weight: 400;
}

.a-Header {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 200px;
}

.joined {
    border: solid var(--green) 3px;
    padding: 5px 10px;
}

.a-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.a-grid img {
    max-width: 700px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.a-grid p {
    padding: 0 12%;
    font-size: 25px;
    font-weight: 300;
}

.join-a-btn {
    margin-top: 100px;
    font-size: x-large;
    border-radius: 20px;
    padding: 10px 20px;
    border: 4px var(--green) solid;
    background-color: transparent;
    background: linear-gradient(to right, var(--green) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .25s ease-out;
}

.join-a-btn:hover {
    background-position: left top;
    /*transition: .25s;*/
}

.back-a-btn {
    margin-top: 100px;
    font-size: x-large;
    border-radius: 20px;
    padding: 10px 20px;
    border: 4px var(--green) solid;
    background-color: transparent;
    background: linear-gradient(to left, var(--green) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .25s ease-out;
}

.back-a-btn:hover {
    background-position: right top;
    /*transition: .25s;*/
}

.Back-btn img {
    width: 50px;
    height: 50px;
}

.a-Buttons {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
}

.StatusCode {
    background-color: #b24747;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 0;
    padding: 10px 0;
    padding-left: 10px;
}

.StatusCode p{
    background-color: #000;
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 0;
    font-weight: 500;
}

/*Calendar*/

.shadow-effect {
    transition: 0.3s
}

    .shadow-effect:hover {
        -webkit-box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
    }


/* Calendar Style */
.calendar {
    padding: 10px;
}

.calendar-table {
    width: 100%;
    background-color: #f3f2f1;
    text-align: center;
}

    .calendar-table thead {
        background-color: white;
    }

    .calendar-table .day {
        width: 125px;
        height: 100px;
        min-width: 125px;
        margin: 2px;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        cursor: pointer;
    }

    .calendar-table td {
        padding: 3px;
    }


.current-day {
    border: 2px solid #ffb600;
    color: #ffb600;
}

.selected-day {
    border: 2px solid #004578;
    color: #004578;
    background: #c7e0f4 !important;
}

.day .day-event {
    font-size: 10px;
    padding: 5px;
}


@media (max-width: 900px) {
    .calendar-table .day {
        width: 100%;
        height: 50px;
        min-width: auto;
    }

    .day .day-event {
        display: none;
    }
}

/* Colors */
.red-orange {
    background: #da3b01;
    color: white;
}

.magenta {
    background: #881798;
    color: white;
}

.pink-red {
    background-color: #750b1c;
    color: white;
}

.yellow {
    background: #fce100;
    color: black;
}

.yellow-green {
    background: #8cbd18;
    color: black;
}

/* calendar day section */
.calendar-toolbar {
    background: #0078d4;
    color: white;
}

.toolbar-button {
    background: #0078d4;
    margin: 0px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 25px;
    font-weight: 100;
    color: white;
    border: none;
}

.toolbar-button:hover {
    background: #004578;
}

.toolbar-button:focus {
    border: none;
    outline: none;
}

/* Input Style */
.fluent-input {
    display: block;
    width: 100%;
    padding: 3px 7px;
    margin: 10px 0;
    border: 1px solid #3b3a39;
}

    .fluent-input:focus {
        outline: none;
        border: 2px dashed #0078d4;
    }

.card-content {
    padding: 10px;
}

.event {
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px;
}

.card {
    margin: 10px;
}

.center-vertical {
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
}

.red-text {
    color: red;
}

.mobile-table-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.smallest-mobile-table-grid {

}

/* Media queries */
@media screen and (max-width: 600px) {
    .pc {
        display: none !important;
    }
}

@media screen and (min-width: 600px) {
    .mobile {
        display: none !important;
    }
}

@media screen and (min-width: 800px) {
    .mobile-table-grid {
        display: none !important;
    }
}

@media screen and (min-width: 370px) {
    .info-Header-mobile {
        font-size: 18px;
    }
}

@media screen and (min-width: 400px) {
    .info-Header-mobile {
        font-size: 20px;
    }
}

@media screen and (max-width: 1450px) {
    .a-grid img {
        max-width: 500px;
    }
    .a-grid p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .a-grid img {
        max-width: 400px;
        max-height: 300px;
    }

    .a-grid p {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .back-a-btn {
        font-size: 20px;
        border: solid 2px var(--green);
    }
    .join-a-btn {
        font-size: 20px;
        border: solid 2px var(--green);
    }
    .a-Header {
        margin-bottom: 50px;
    }
    .a-grid img {
        max-width: 400px;
        max-height: 300px;
        margin-bottom: 50px;
    }
    .a-grid {
        grid-template-columns: repeat(1, 1fr);
        display: block;
        justify-content: center;
    }
    .table-grid {
        display: none
    }
    .Header h2 {
        font-size: 20px;
    }
    h1 {
        font-size: 25px;
    }
    .padding-bottom-M {
        margin-bottom: 50px;
    }
    .info-Header {
        font-size: 30px;
    }
    .info-p {
        font-size: 18px;
        margin: 0 10%;
    }
}

@media screen and (max-width: 450px) {
    .back-a-btn {
        font-size: 15px;
        margin-top: 10px;
    }

    .join-a-btn {
        font-size: 15px;
        margin-top: 10px;
    }
    .a-name {
        font-size: 30px;
        padding-top: 8px;
    }
    .joined {
        font-size: 30px;
    }
    .mobile-table-grid {
        display: none;
    }
}

@media screen and (min-width: 450px) {
    .smallest-mobile-table-grid {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .a-name {
        font-size: 20px;
        padding-top: 6px;
    }

    .joined {
        font-size: 20px;
    }

    .info-p-mobile {
        font-size: 15px;
    }

    .mobile-table-grid .c{
        font-size: 11px;
    }
}